body {
  padding: 1rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #9ca3af;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: 2rem;
  color: #9ca3af;
}

footer p {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

footer a {
  color: #9ca3af;
}

.game {
  padding: 1.5rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.countdown {
  padding: 0.75rem 1.5rem;
  margin: 2rem 0 1rem 0;
  background-color: #2563eb;
  border-radius: 9999px;
}

.countdown-winner {
  background-color: #16a34a;
}

.countdown-loser {
  background-color: #dc2626;
}

.countdown p {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #eff6ff;
}

.countdown-winner p {
  color: #f0fdf4;
}

.countdown-loser p {
  color: #fef2f2;
}

.secret-word {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  margin-bottom: 1rem;
}

.secret-letter-wrapper {
  margin-right: 0.5rem;
  min-width: 1.5rem;
  display: flex;
  justify-content: center;
  border-bottom: 0.175rem solid #111827;
}

.secret-letter-wrapper:last-of-type {
  margin-right: 0;
}

.secret-letter {
  color: #111827;
  font-size: 2.25rem;
  font-family: monospace;
}

.secret-letter-hidden {
  /* display: none; */
  visibility: hidden;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.display-none {
  display: none !important;
}

.letter {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  font-family: monospace;
  background-color: #f9fafb;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
  margin: 0.25rem;
  color: #111827;
  cursor: pointer;
}

.letter:hover {
  border-color: #d1d5db;
}

.letter:disabled {
  color: #9ca3af;
}

.letter:disabled:hover {
  cursor: auto;
  border-color: #e5e7eb;
}

.correct-letter {
  color: #166534;
  background-color: #bbf7d0;
  border-color: #4ade80;
}

.correct-letter:hover {
  border-color: #4ade80 !important;
}

.correct-letter:disabled {
  color: #166534;
}

.wrong-letter {
  color: #991b1b;
  background-color: #fecaca;
  border-color: #f87171;
}

.wrong-letter:hover {
  border-color: #f87171 !important;
}

.wrong-letter:disabled {
  color: #991b1b;
}

.result-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-message h2 {
  margin: 2rem 0 3rem 0;
  color: #111827;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.result-message button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 9999px;
  background-color: #eff6ff;
  border-style: solid;
  border-width: 1px;
  border-color: #bfdbfe;
  margin: 0;
  color: #111827;
  cursor: pointer;
}

.result-message button:hover {
  background-color: #dbeafe;
  border-color: #93c5fd;
}

@media (min-width: 640px) {
  header h1 {
    font-size: 1.25rem;
  }

  footer {
    margin-top: 4rem;
  }

  .game {
    padding: 4rem;
    height: auto;
    max-width: 1024px;
  }

  .countdown {
    padding: 0.75rem 2rem;
    margin: 4rem 0 2rem 0;
  }

  .countdown p {
    font-size: 1.25rem;
  }

  .secret-word {
    margin-bottom: 2rem;
  }

  .secret-letter-wrapper {
    margin-right: 1rem;
    min-width: 2rem;
    display: flex;
    justify-content: center;
    border-bottom: 0.2rem solid #111827;
  }

  .secret-letter {
    font-size: 3rem;
    font-family: monospace;
  }

  .letter {
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
    margin: 0.5rem;
  }

  .result-message h2 {
    margin: 2rem 0 4rem 0;
    font-size: 1.875rem;
  }

  .result-message button {
    padding: 0.75rem 2rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .alphabet {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  .game {
    max-width: 1024px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
  }

  header h1 {
    color: #6b7280;
  }

  footer {
    color: #6b7280;
  }

  footer a {
    color: #6b7280;
  }

  .game {
    background-color: #1f2937;
  }

  .countdown {
    background-color: #1d4ed8;
  }

  .countdown-winner {
    background-color: #15803d;
  }

  .countdown-loser {
    background-color: #b91c1c;
  }

  .countdown p {
    color: #dbeafe;
  }

  .countdown-winner p {
    color: #dcfce7;
  }

  .countdown-loser p {
    color: #fee2e2;
  }

  .secret-letter-wrapper {
    border-bottom: 0.2rem solid #f9fafb;
  }

  .secret-letter {
    color: #f9fafb;
  }

  .letter {
    background-color: #4b5563;
    border-color: #374151;
    color: #f9fafb;
  }

  .letter:hover {
    cursor: pointer;
    border-color: #6b7280;
  }

  .letter:disabled {
    color: #6b7280;
  }

  .letter:disabled:hover {
    border-color: #374151;
  }

  .correct-letter {
    color: #f0fdf4;
    background-color: #16a34a;
    border-color: #15803d;
  }

  .correct-letter:hover {
    border-color: #15803d !important;
  }

  .correct-letter:disabled {
    color: #f0fdf4;
  }

  .wrong-letter {
    color: #fef2f2;
    background-color: #dc2626;
    border-color: #b91c1c;
  }

  .wrong-letter:hover {
    border-color: #b91c1c !important;
  }

  .wrong-letter:disabled {
    color: #fef2f2;
  }

  .result-message h2 {
    color: #f9fafb;
  }

  .result-message button {
    background-color: #0c4a6e;
    border-color: #1e40af;
    color: #f9fafb;
  }

  .result-message button:hover {
    color: #f9fafb;
    background-color: #1e40af;
    border-color: #1d4ed8;
  }
}
