body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 1024px;
  background-color: #fff;
  border-radius: 0.5rem;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

h1 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: #9ca3af;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.countdown {
  padding: 0.75rem 2rem;
  margin: 4rem 0 2rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #2563eb;
  border-radius: 9999px;
}

.countdown p {
  margin: 0;
  color: #eff6ff;
}

.secret-word {
  display: flex;
  width: auto;
  margin-bottom: 2rem;
  color: #111827;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.letter {
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
  border-radius: 0.375rem;
  font-family: monospace;
  background-color: #f9fafb;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
  margin: 0.5rem;
  color: #111827;
}

.letter:hover {
  cursor: pointer;
}

.letter:hover:disabled {
  cursor: auto;
}

.wrong-letter {
  color: #991b1b;
  background-color: #fecaca;
  border-color: #f87171;
}

.correct-letter {
  color: #166534;
  background-color: #bbf7d0;
  border-color: #4ade80;
}

.secret-letter-wrapper {
  margin-right: 1rem;
  min-width: 2rem;
  display: flex;
  justify-content: center;
  border-bottom: 0.2rem solid #111827;
}

.secret-letter-wrapper:last-of-type {
  margin-right: 0;
}

.secret-letter {
  font-size: 2rem;
  font-family: monospace;
}

.secret-letter-hidden {
  /* display: none; */
  visibility: hidden;
}

.footer {
  margin-top: 4rem;
  color: #9ca3af;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #9ca3af;
}

@media (min-width: 640px) {
  main {
    padding: 4rem;
    height: auto;
  }

  .alphabet {
    width: 75%;
  }

  .secret-letter-wrapper {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
  }

  .secret-letter {
    font-size: 3rem;
    font-family: monospace;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
  }

  main {
    background-color: #1f2937;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
      drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  }

  h1 {
    color: #6b7280;
  }

  .countdown {
    background-color: #1d4ed8;
  }

  .countdown p {
    color: #dbeafe;
  }

  .secret-word {
    color: #f9fafb;
  }

  .letter {
    background-color: #4b5563;
    border-color: #374151;
    color: #f9fafb;
  }

  .wrong-letter {
    color: #fef2f2;
    background-color: #dc2626;
    border-color: #b91c1c;
  }

  .correct-letter {
    color: #f0fdf4;
    background-color: #16a34a;
    border-color: #15803d;
  }

  .secret-letter-wrapper {
    border-bottom: 0.2rem solid #f9fafb;
  }

  .footer {
    color: #6b7280;
  }

  .footer a {
    color: #6b7280;
  }
}
